hiera_py==0.0.1
hiera_transformer==0.1.2
matplotlib==3.8.2
numpy==1.26.3
opencv_python==4.8.1.78
Pillow==10.2.0
PyYAML==6.0.1
scipy==1.12.0
torch==2.1.1
torchvision==0.16.1
tqdm==4.66.1
ultralytics==8.0.222
tensorboard==2.15.1
gdown==4.7.3
